services:
  postgres:
    image: "postgres:15-alpine"
    container_name: "postgres"
    hostname: "postgres"
    environment:
      POSTGRES_DB: "books"
      POSTGRES_USER: "user"
      POSTGRES_PASSWORD: "password"
    volumes:
      - "postgres_data:/var/lib/postgresql/data"

  books:
    build:
      context: "."
      dockerfile: "Dockerfile-dev"
    container_name: "books"
    hostname: "books"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    env_file:
      - ".env"
    depends_on:
      - "postgres"

  nginx:
    image: "nginx:1.25-alpine"
    container_name: "nginx"
    hostname: "nginx"
    ports:
      - "80:80"
    volumes:
      - "./:/var/www"
      - "./default.conf:/etc/nginx/conf.d/default.conf"
    depends_on:
      - "books"

  redis:
    image: "redis:7-alpine"
    container_name: "redis"
    hostname: "redis"
    volumes:
      - "redis_data:/data"
    command: [ "redis-server", "--appendonly", "yes" ]

volumes:
  postgres_data:
  redis_data:
